html{
    block-size: 100%;
    inline-size: 100%;
}
h3, h2{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    color:inherit; 
    width:100%; 
    background-color:rgb(31, 27, 27) ; 
    color: aliceblue;
    text-align: center;
    padding: 20px 20px; 
    margin-top: 6em;
}
a{
    color: rgb(243, 243, 243);
    text-decoration: none;
     margin: 20px;
     font-size: 2.5em;
     font-family: Arial, Helvetica, sans-serif;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    grid-gap: 40px;
}

.card {
    display: grid;
    grid-template-rows: max-content 600px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card img:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
p{
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#sizes .button{
  background-color: #b2a59d; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  margin: 4px 2px;
  cursor: pointer;
  width: 10em;
  margin-left: 0.5em;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
#cart{
    width: 75%;
    display: block;
    font-size: 2.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}
#cart:hover {
    background-color: #b51e0a; /* Green */
    color: white;
  }
.detailsimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em;
}
#sizes{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em;
}
  article{
    display: block;
    
}
.qty{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    font-size: 1.5em;
}
.checked {
    color: orange;
  }

 /*responsive mobile design*/
 @media (min-width: 480px) {
    h3, h2{
        font-size: 1.5em;
        padding-left: 25px;
    }
    p{
        font-size: 0.8em;
        padding-left: 25px;
    }
    .card img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    nav{
        width: 100%;
    }
    /*details page*/
    .detailsimg{
        margin-top: 3.5em;
    }
    .price{
        
        padding-left: 10em;
        font-size: 3em;
    }
    .article{
        font-size: 2em;
        padding-left: 10em;
        width: 30em;
        display: block;
    }
    .rating{
        
        padding-left: 20em;
    }
    #sizes{
        padding-left: 200px;
        display: block;
        width: 100%;
        padding-top: 40px;
    }
    #sizes .button{
        margin: 4px 2px;
        width: 8em;
       
      }
    .qty{
        width: 100%;
    }
    body{
        width:fit-content;
    }
    html{
        width: fit-content;
    }
    #cart{
        width: 75%;
        height: 2.6em;
        font-size: 3em;
    }
 }

/*responsive tablet design*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    nav a{
       font-size: 0.8em;
    }
    .card img {
        width: 75%;
        height: 75%;
        padding-left: 150px;
        padding-right: 150px;
    }
    p{
        font-size: 1.5em;
    }

}


